* {
    font-family: 'Raleway', sans-serif;
}

html, body {
    margin: 0;

}

body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
        
}

.wrapper {
    width: 1500px;
    display: flex;
    margin: 0 auto;
    
}

.main {
    display: flex;
    flex-flow: column;
    width: 100%;

}

.menu {
    width: 15%;
    padding: 10px 20px 0px;
    
}
.header {
    min-height: 150px;
    background-color: aqua;
    height: 300px;
    position: relative;
    
    
    
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
    
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}
#h1 {
    
    color: #1414c2;
    font-size: 35px;
    position: absolute;
    left: 5px;
    bottom: 50%;
    font-family: "Raleway";
    margin: 0px;
    
}